{{ define "main" }}
<section style="background-image: url({{"images/bg.svg"|absURL}});" class="bg-center bg-cover bg-no-repeat px-4">
  <div class="w-full mx-auto md:w-10/12 py-32">
    <div class="w-full lg:w-3/4 lg:mr-auto">
      <h1 class="font-pt font-black text-4xl uppercase text-indigo-dye leading-tight lg:text-4xl xl:text-5xl">
        <span class="block text-mantis">Inversión y finanzas públicas</span>
        <span class="text-caribbean-green">de la Alcaldía de Jamundí</span>
      </h1>
      <div class="text-dark-jungle-green font-roboto space-y-4 mt-8 lg:text-lg max-w-md">
        <p>
          Explora los datos sobre finanzas públicas, inversión de recursos, y contrataciones públicas de la Alcaldía de Jamundí, para así tener mayor información sobre proyectos, gastos y presupuestos, y que la ciudadanía pueda ejercer control social y que los entes públicos puedan hacer cada vez mejor su trabajo.
        </p>
      </div>
    </div>
  </div>
</section>
<!---->
<section class="px-4 py-12">
  <div class="w-full mx-auto flex flex-col-reverse md:w-10/12 md:flex-row md:items-start md:space-x-8" id="proyecto">
    <div class="w-full mt-4 md:w-1/2 md:mt-0">
      <img src="{{"images/graphic-1.png"|absURL}}" alt="">
    </div>
    <div class="w-full md:w-1/2">
      <div class="md:max-w-md md:ml-auto">
        <h3 class="font-pt text-mantis text-3xl uppercase font-black lg:text-4xl">¿Por qué este proyecto?</h3>
        <p class="text-dark-jungle-green mt-6 text-sm lg:text-base">
          Este proyecto tiene como objetivo dar a conocer a la ciudadanía cómo se planeó y cómo se están invirtiendo los recursos públicos en Jamundí, para que cada vez se puedan tomar mejores decisiones, generar alertas y promover mejores políticas de apertura a la información en el sector público.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full mx-auto flex flex-col md:w-10/12 md:flex-row md:items-start md:space-x-8" id="datos">
    <div class="w-full md:w-1/2">
      <div class="md:max-w-md">
        <h3 class="font-pt text-mantis text-3xl uppercase font-black lg:text-4xl">De qué datos hablamos</h3>
        <p class="text-dark-jungle-green mt-6 text-sm lg:text-base">
          La información que contiene este proyecto proviene del Plan Anual de Adquisiciones, el Plan Operativo Anual de Inversiones y los proyectos del Plan de Desarrollo Municipal 2019-2023, con el fin de ser dada a conocer a la ciudadanía y entes interesados.
        </p>
      </div>
    </div>
    <div class="w-full mt-4 md:w-1/2 md:mt-0">
      <img src="{{"images/graphic-2.png"|absURL}}" alt="">
    </div>
  </div>
</section>
<!---->
<section class="py-12 text-center" style="background-color: #f5f5f5;" id="visualizador">
  <h3 class="font-pt text-mantis text-3xl uppercase font-black lg:text-4xl">Explora los datos</h3>
  <details class="text-center mt-2">
    <summary class="uppercase bg-caribbean-green text-white rounded font-bold text-sm px-3 py-2 inline-block">
      Cómo se usa
    </summary>
    <div class="text-left max-w-md mx-auto text-dark-jungle-green mt-10 space-y-4 leading-tight font-trebuchet">
      <p>Esta herramienta de exploración de datos contiene la información del Plan Anual de Adquisiciones, Plan de Inversiones y Plan de Desarrollo municipal de la Alcaldía de Jamundí. Puedes seleccionar el tipo de base de datos que desees, seleccionar una pregunta, una variable, visualizar la información, seleccionar el tipo de gráfica que más se ajuste a tus necesidades, y descargar la base de datos o la gráfica que realizaste.</p>
      <p>Cuando das clic a algún registro de la gráfica, podrás obtener mayor información sobre ese dato.</p>
    </div>
  </details>
  <div class="h-screen mt-4"></div>
</section>
<!---->
<section class="px-4 py-12" id="comentarios">
  <div class="w-full mx-auto flex flex-col-reverse md:w-10/12 md:flex-row md:items-start md:space-x-8">
    <div class="w-full mt-4 md:w-1/2 md:mt-0">
      <img src="{{"images/graphic-3.png"|absURL}}" alt="">
    </div>
    <div class="w-full md:w-1/2">
      <div class="md:max-w-md md:ml-auto">
        <h3 class="font-pt text-mantis text-3xl uppercase font-black lg:text-4xl">Comentarios y sugerencias</h3>
        <p class="text-dark-jungle-green mt-6 text-sm lg:text-base">
          Si quieres obtener mayor información sobre los datos, tienes algún comentario o sugerencia sobre los contenidos o datos de esta página web, escríbenos ingresando al formulario.
        </p>
        <a class="font-pt inline-block mt-6 uppercase bg-caribbean-green text-white rounded font-bold text-lg px-3 py-2 lg:text-xl" href="">Ir al formulario</a>
      </div>
    </div>
  </div>
</section>
{{ end }}